{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_img.png' %}{% endif %}"
        class="img-fluid rounded" alt="{{ product.name }}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        {% if product.discount > 0 %}
        <div class="card-discount">
          <p>
            <span class="old-price">{{ product.price }} ₴</span>
            <span class="discount-percent">-{{ product.discount }}%</span>
          </p>
          <p class="new-price">{{ product.sell_price }} ₴</p>
        </div>
        {% else %}
            <p class="price">{{ product.price }} ₴</p>
        {% endif %}
        {{ product.description|linebreaks }}
        {% if in_cart %}
            <div class="alert alert-info" role="alert">
                Этот товар уже в вашей корзине
            </div>
            <a href="{% url 'cart:cart_detail' %}" class="btn btn-primary">
                Корзина
            </a>
        {% else %}
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину" class="btn btn-success">
            </form>
        {% endif %}
    </div>
{% endblock %}