{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Товар{% endif %}
{% endblock %}
{% block content %}
<div class="top-container">
<button id="open-filter-btn" class="filter-trigger-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
    <span>Фільтри</span>
</button>
<div class="filter-overlay"></div>

<div id="filter-sidebar">
    <div class="sidebar-header">
        <h3>Фільтри</h3>
        <span class="sidebarr-close">&times;</span>
    </div>
    
    <div class="sidebar-content">
        <div class="product-filters">

            <!-- Фільтр: Бренд -->
            <div class="filter-group">
                <button class="accordion-toggle">
                    <span>Бренд</span>
                    <span class="toggle-icon"></span>
                </button>
                <div class="filter-options">
                    <ul>
                        {% for b in brands %}
                        <li>
                            <label>
                                <input type="checkbox" name="brand" value="{{ b.slug }}" {% if b.slug in selected_brands %}checked{% endif %}>
                                {{ b.name }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Фільтр: Країна -->
            <div class="filter-group">
                <button class="accordion-toggle">
                    <span>Країна</span>
                    <span class="toggle-icon"></span>
                </button>
                <div class="filter-options">
                    <ul>
                        {% for co in countries %}
                        <li>
                            <label>
                                <input type="checkbox" name="country" value="{{ co.slug }}" {% if co.slug in selected_countries %}checked{% endif %}>
                                {{ co.name }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Фільтр: Всесвіт -->
            <div class="filter-group">
                <button class="accordion-toggle">
                    <span>Всесвіт</span>
                    <span class="toggle-icon"></span>
                </button>
                <div class="filter-options">
                    <ul>
                        {% for u in universes %}
                        <li>
                            <label>
                                <input type="checkbox" name="universe" value="{{ u.slug }}" {% if u.slug in selected_universes %}checked{% endif %}>
                                {{ u.name }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="filter-group">
                <button class="accordion-toggle">
                    <span>Персонаж</span>
                    <span class="toggle-icon"></span>
                </button>
                <div class="filter-options">
                    <ul>
                        {% for ch in characters %}
                        <li>
                            <label>
                                <input type="checkbox" name="character" value="{{ ch.slug }}" {% if ch.slug in selected_characters %}checked{% endif %}>
                                {{ ch.name }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Фільтр: Розмір -->
            <div class="filter-group">
                <button class="accordion-toggle">
                    <span>Розмір</span>
                    <span class="toggle-icon"></span>
                </button>
                <div class="filter-options">
                    <ul>
                        {% for s in sizes %}
                        <li>
                            <label>
                                <input type="checkbox" name="size" value="{{ s.slug }}" {% if s.slug in selected_sizes %}checked{% endif %}>
                                {{ s.value }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Фільтр: Матеріал -->
            <div class="filter-group">
                <button class="accordion-toggle">
                    <span>Матеріал</span>
                    <span class="toggle-icon"></span>
                </button>
                <div class="filter-options">
                    <ul>
                        {% for m in materials %}
                        <li>
                            <label>
                                <input type="checkbox" name="material" value="{{ m.slug }}" {% if m.slug in selected_materials %}checked{% endif %}>
                                {{ m.name }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="sidebar-footer">
        <button id="apply-filters-btn" class="apply-btn">Застосувати</button>
        <button id="reset-filters-btn" class="reset-btn">Скинути</button>
    </div>
</div>


        <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Товари{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.images.all %}{{ product.images.first.image.url }}{% else %}{% static 'img/no_img.png' %}{% endif %}"
                    alt="{{ product.name }}"
                    class="product-image">
                    </a>
                <div class="name-info">
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                </div>
                {% if user.is_authenticated %}
                    <form action="{% url 'shop:toggle_wishlist' product.id %}" method="POST" class="wishlist-form">
                        {% csrf_token %}
                        <button type="submit"
                                class="wishlist-toggle-btn {% if product in user.profile.wishlist.all %}active{% endif %}"
                                data-liked-src="{% static 'img/liked_black.png' %}"
                                data-unliked-src="{% static 'img/like_black.png' %}">

                            {% if product in user.profile.wishlist.all %}
                                <img src="{% static 'img/liked_black.png' %}" alt="В избранном">
                            {% else %}
                                <img src="{% static 'img/like_black.png' %}" alt="Добавить в избранное">
                            {% endif %}
                        </button>
                    </form>
                {% else %}
                <div class="wish-login">
                    <a href="{% url 'account_login' %}?next={{ request.path }}">
                        <img src="{% static 'img/like_black.png' %}" alt="Войдите, чтобы добавить в избранное">
                    </a>
                </div>
                {% endif %}
                {% if product.discount > 0 %}
                    <div class="discount-info">
                        -{{ product.discount }}%
                    </div>
                    <div class="price">
                        <span class="old-price">{{ product.price }} ₴</span>
                        <span class="new-price">{{ product.sell_price }} ₴</span>
                {% else %}
                    <span class="price">{{ product.price }} ₴</span>
                {% endif %}
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}