.profile-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-top: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.list-group {
    color:#000;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    gap: 10px;
    margin-bottom: 30px;
}

.list-group-item {
    border-radius: 6px;
    padding: 10px 18px;
    text-decoration: none;
    transition: background 0.2s ease;
}

.list-group-item:hover {
    background: #f5f5f5;
}

.text-danger {
    color: #000000 !important;
    border-color: #555;
}

.mb-3 {
    margin-bottom: 15px;
}

strong {
    display: block;
    font-weight: 600;
    margin-bottom: 3px;
}

.text-muted {
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}

.bi {
    color: #000;
}
