{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Figure{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link href="{% static 'css/profile_edit.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
<div class="container">
    <div id="header">
        <div class="nav-bg">
            <nav>
                <div class="nav-left">
                    <div class="humburger-menu">
                        <img src="{% static 'img/humburger.svg' %}" alt="Menu">
                    </div>
                    <div id="search-trigger" class="search">
                        <img src="{% static 'img/search_white.svg' %}" alt="Search">
                    </div>
                    <div class="search-overlay" id="search-overlay">
                        <div class="search-container">
                            <form action="{% url 'shop:product_list' %}" method="get" class="search-form">
                                <input type="text" name="q" placeholder="Пошук товарів..." value="{{ search_query }}">
                                <button type="submit">
                                    <img src="{% static 'img/search_black.png' %}" alt="Search" class="search-icon">
                                </button>
                                <span class="close-search"></span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <a href="/" class="logo">Figure</a>
                </div>
                <div class="nav-right">
                    <div class="cart">
                        <a href="{% url 'shop:wishlist' %}">
                            <img src="{% static 'img/like.png' %}" alt="Like">
                        </a>
                    </div>
                    <div class = "cart-count liked-count">
                <span id="wishlist-count">
                    {% if wishlist_count > 0 %}
                        <span class="badge">{{ wishlist_count }}</span>
                    {% else %}
                        0
                    {% endif %}
                </span>
                </div>
                <div class="cart">
                    <a href="{% url 'cart:cart_detail' %}">
                        <img src="{% static 'img/cart.png' %}" alt="Cart">
                    </a>
                    </div>
                    <div class = cart-count>
                        {% if request.session.cart %}
                            <span class="badge">{{ request.session.cart|length }}</span>
                        {% else %}
                            0
                        {% endif %}
                </div>
                </div>
            </nav>
        </div>
    </div>

<div class="sidebar-overlay"></div>

<div id="sidebar">
    <div class="sidebar-content">
        <span class="sidebar-close">&times;</span>
        
        <div class="sidebar-header">
            <a href="/users/">Профіль</a>
        </div>

        <div class="filter-section">
            <button class="accordion">
                <span>Категорії</span>
                <span class="toggle-icon"></span>
            </button>
            <div class="filter-list">
                <ul>
                    {% for c in categories %}
                    <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    {% block content %}
    {% endblock %}

</div>
</body>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/wishlist.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>
</html>